.card {
    background-color: #FCF0C8;
    padding-top: 50px;


}

.inner {
    margin-top: 1rem;

}

.Cardback {
    display: inline-block;
    margin-left: 1rem;
}

.description1 {
    font-size: small;
    font-weight: 500;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 12rem;
    width: 18rem;
    padding:0rem 1rem;
}
.madeby{
    text-decoration: none;
    color: rgb(112, 10, 10);
    font-weight: 600;
    position: relative;
    top: 0;
}

.price{
    text-align: center;
    margin-left: 9rem;
    margin-top: 0.5rem;
}
.cardMain {
    width: 25rem !important;
    height: 45rem;
    box-shadow: 2px 2px rgba(168, 160, 160, 0.604);
    background-color: #FACE7F;
    border-radius: 40px;

}

.cardMain:hover {
    background-color: rgb(254, 191, 108);
}

.card-img-top {
    border-radius: 40px;
    border-color: #080000;
}


.BuyNow {
    background-color: #911F27;
    padding-right: px;
    color: azure;
    border-radius: 5px;
    background: #911f27;
    color: #fff;
    box-shadow: 50%;
    width: 5rem;
    border: none;

}


.BuyNow:hover {
    background: #fb0808;
}

.container-fluid {
    text-align: center;


}

h2 {
    padding-top: 15px;
    font-weight: 900;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsGH6GpTkNkDwx9kKrzH8jGnEAJf9nZXgoKA&usqp=CAU");
    background-size: 40%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.08);
    animation: zoomout 5s ease 500ms forwards;
}

.card-text {
    text-align: left;
}

.card-text {
    text-align: left;

}

#xyz {
    text-align: left;



}