.home {
    display: flex;
    height: 120vh;
    position: relative;
    right: 0;
    background-color: #FCF0C8;
    background-image: linear-gradient(to bottom right, #FACE7F, #FCF0C8);
}

.home .homeImg img {
    width: 25rem;
}


.carouselMain {
    margin: auto;
    margin-left: 1rem;
    padding: 2rem;
    width: 100vh;
    height: 65vh;
    box-shadow: 2px 6px 3px rgba(0, 0, 0, 0.144);
    border-radius: 2rem;

}

.home .right {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
    align-items: center;
    justify-content: center;
}

.home .right h1 {
    font-family: 'Patua One', cursive;
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 900;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsGH6GpTkNkDwx9kKrzH8jGnEAJf9nZXgoKA&usqp=CAU");
    background-size: 40%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.08);
    animation: zoomout 5s ease 500ms forwards;
}

.carouselImg img {
    width: 60vw;
    height: 55vh;
    border-radius: 2rem;
}