@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Josefin+Sans:wght@100;200;300;400;500;600&family=Lobster+Two&family=Lora:ital,wght@1,400;1,500;1,600&family=Varela+Round&display=swap');

.honeMain {
    right: 0;
    background-color: #FCF0C8;
    background-image: linear-gradient(to bottom right, #FACE7F, #FCF0C8);
}

.home {
    display: flex;
    height: 100vh;
    position: relative;

}

.home .homeImg img {
    position: relative;
    top:2rem;
    width: 25rem;
}


.carouselMain {
    margin-left: 1rem;
    padding: 2rem;
    width: 100vh;
    height: 65vh;
    background-color: #face7f;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 2rem;
    margin-bottom: 10rem;
}

.home .right {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    position: relative;
    align-items: center;
    justify-content: center;
}

.home .right .heading {
    position: relative;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-weight: 900;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsGH6GpTkNkDwx9kKrzH8jGnEAJf9nZXgoKA&usqp=CAU");
    background-size: 40%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.08);
    animation: zoomout 5s ease 500ms forwards;
}

.carouselImg img {
    width: 60vw;
    height: 55vh;
    border-radius: 2rem;
}

.OurContributers .h1 {
    margin-bottom: 4rem;
    font-weight: 900;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsGH6GpTkNkDwx9kKrzH8jGnEAJf9nZXgoKA&usqp=CAU");
    background-size: 40%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.08);
    animation: zoomout 5s ease 500ms forwards;
    text-align: center;
}

.OurContributers .card {
    display: flex;
    text-align: center;
    flex-direction: row !important;
    background-color: #face7f;
    margin: auto;
    margin-bottom: 3rem;
    width: 70rem !important;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.OurContributers .card p {
    margin: 3rem 4rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
}

.OurContributers .card img {
    width: 18rem;
    height: 20rem;
    padding: 2rem;
    border-radius: 4rem;
}

.OurCommunity {
    margin: 5rem 8rem;
    border-radius: 2rem;
    padding: 2rem;
    background-color: #face7f;
}

.OurCommunity .h1 {
    margin-bottom: 3rem;
    font-weight: 900;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsGH6GpTkNkDwx9kKrzH8jGnEAJf9nZXgoKA&usqp=CAU");
    background-size: 40%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.08);
    animation: zoomout 5s ease 500ms forwards;
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 2rem;
    background-color: brown;
    color: white;
    border-radius: 2rem;
    width: 20rem;
    padding: 3rem;
    height: 10rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
}