.login {
    background-color: #FCF0C8;
    display: flex;
    flex-direction: row;
    padding-top: 40px;

}

.login img {
    position: relative;
    top: 8rem;
    left: 2rem;
    right: 2rem;
    height: 13rem;
    width: 15rem;

}
.left form{
    padding: 2rem 4rem;
}

.left form h1{
    margin: 2rem 5rem;
    font-weight: 900;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsGH6GpTkNkDwx9kKrzH8jGnEAJf9nZXgoKA&usqp=CAU");
    background-size: 40%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.08);
    animation: zoomout 5s ease 500ms forwards;
}
.left {
    display: flex;
    background-color: #face7f;
    margin: 2rem 27rem;
    border-radius: 30px;
    box-shadow: 3px 3px rgb(182, 166, 166);
    height: 29rem;
    width: 38rem;

}

.bt1{
    position: relative;
    text-align: center;
    top:1rem;
}
.btn2 {
    background-color: #911f27;
    margin-right: 7rem;
    margin-bottom: 2rem;
    width: 4rem;
    border-radius: 0.4rem;
    padding: 7px;
    color: white !important;
    border: #face7f;
}
.btn2:hover {
    background: rgb(249, 203, 117);
    color: black !important;

}

#r {
    color: black;
}

#email1 {
    width: 350px;
}

#password1 {
    width: 350px;
}

.inputField {
    height: 2rem;
    margin: 0;
}