.Register {
    background-color: #FCF0C8;
    display: flex;
    flex-direction: row;
}
.reg{
    position: relative;
    top:1.5rem;
}

.RegisterMain img {
   position: relative;
   top: 8.5rem;
   left: 2rem;

}
.inputField {
    height: 2.3rem;
    margin: 0;
}

.text-center {
    margin: 1rem;
}
.RegisterMain {
    display: flex;
    margin-top:3rem;
    background-color: #face7f;
    border-radius: 30px;
    margin-left: 22rem;
    margin-bottom: 12rem;
    box-shadow: 2px 3px rgb(135, 131, 125);
}

.RegisterMain form{
    padding-left: 6rem;
    padding-bottom: 1.2rem;

}
.RegisterForm {
    width: 68rem;
    margin-top: 2.2rem;
}

.btn {
    background-color: #911f27;
    color: white !important;
    border: #face7f;
    margin-top: 1rem;
    position: relative;
}

.btn:hover {
    background: rgb(249, 203, 117);
    color: black !important;

}
.RegisterMain img {
    height: 15rem;
    width: 12rem;
}