@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Josefin+Sans:wght@100;200;300;400;500;600&family=Lobster+Two&family=Lora:ital,wght@1,400;1,500;1,600&family=Varela+Round&display=swap');
.productMain {
    display: flex;
    font-family: 'El Messiri',sans-serif;
    font-weight: 700;

}
.para{
    position: relative;
    border-radius: 3rem;
    top:3rem;
    left: 2rem;
    background-color: #FACE7F;
    width: 60rem;
    height: 17rem;
    box-shadow: 5px 5px 5px;
}
.productMain p {
    margin-top: 3rem;
    margin-left: 6rem;
}

.prd {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-top: 3rem;
}

.prd img {
    width: 24rem;
    height: 20rem;
    border-radius: 50px;
    border-color: black;
    box-shadow: 5px 5px 5px;
    margin-right: 5rem;
}

.prd h4 {
    padding: 1rem 2rem 0rem 8rem;

}

.ino img {
    width: 12rem;
    height: 7rem;
    flex-direction: row;
    margin-top: 1rem;
    margin-right: 2rem;
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
}

.ab {
    padding-left: 5rem;
    margin: 2rem;
    margin-bottom: 5rem;
}